<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Admissions Committee</display-name>

    <servlet>
        <servlet-name>StatementServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.StatementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatementServlet</servlet-name>
        <url-pattern>/Statement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.applicant.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/Userinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacultyApplicationListServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.FacultyApplicationListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacultyApplicationListServlet</servlet-name>
        <url-pattern>/watchlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserToStatementServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.AddUserToStatementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserToStatementServlet</servlet-name>
        <url-pattern>/addresult</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlockUserServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.BlockUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlockUserServlet</servlet-name>
        <url-pattern>/blockbusting</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateFacultyServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.CreateFacultyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFacultyServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFacultyServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.DeleteFacultyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFacultyServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayApplicationServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.DisplayApplicantsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayApplicationServlet</servlet-name>
        <url-pattern>/DisplayApplicants</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayFacultyServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.DisplayFacultyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayFacultyServlet</servlet-name>
        <url-pattern>/DisplayFaculty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditFacultyServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.EditFacultyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditFacultyServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnterResultServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.applicant.EnterResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterResultServlet</servlet-name>
        <url-pattern>/Submitresult</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacultyRegServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.applicant.FacultyRegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacultyRegServlet</servlet-name>
        <url-pattern>/Reristerforfaculty</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayEnrollmentServlet</servlet-name>
        <servlet-class>com.splb.controller.servlets.admin.DisplayEnrollmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayEnrollmentServlet</servlet-name>
        <url-pattern>/Enrollment</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error-page.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error-page.jsp</location>
    </error-page>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/AdmissionsCommittee</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>